{% extends "base.html" %}
{% block content %}
<div class = "container text-center" style="margin-top: 10%; margin-left: 30%;">
    <h1 style="color: yellow; font-weight: 900;">About Developer's Journal <i class="fas fa-book-open"></i></i>&nbsp;</h1>
    <p style="color: azure; font-weight: 800; font-size: 2em;">
    This is a web application that offers software developers a platform to note the bugs they come across to act as a reference</p>
    <p>The developer can add to do notes as well as create journals </p>
</div>
{% endblock content %}