{% extends 'base.html'%}
{% block content%}


<div class="container">
    <h2 class='text-center text-primary'>New Journal</h2>
  <form method="POST" action=""  class="">
   {{ form.csrf_token }}
   <div class="label form-label text-center text-danger">
    {{ form.title.label  }}
   </div>
   
   <div class=" shadow-sm  mb-2 bg-body rounded">
       {{ form.title (class='form-control')}} 
   </div>

   <div class="label form-label text-center text-danger">
    {{ form.content.label  }}
    
   </div>
   <div class="">
    {{ form.content (class = "form-control") }}
   </div>
   

  

 

   <br>
   <div >
         {{form.submit (class='btn btn-primary w-10') }}
         </div>
      
 </form>
</div>
{% endblock%}