{% extends 'base.html'%}
{% block content %}
<div class="container">
    <div class = "row">
        <h2 style="color: yellow; text-align: center; margin-left: 200px;">Add Notes</h2>
    </div>
    <div class = "container" style="margin-left: 200px;">
    <div class="row mt-5">
        <div class="col d-flex justify-content-start" >
            <div >
                <div class="card-header">
                    <h2 style="color: yellow; text-align: center;"> {{ journal.title}} </h2>
                    <div class="d-flex justify-content-between">
                        <p style="color: azure;">   Posted on: {{ journal.time.strftime('%d-%m-%Y') }}</p>
                        <span><a href="{{ url_for('main.delete_journal',journal_id = journal.id)}}"><i class="fas fa-trash text-danger"></i></a>
                        <a href="{{ url_for('main.update_journal',journal_id = journal.id)}}"><i class="far fa-edit"></i></a></span>
                    </div>
                </div>
                <div class="card-body">
                    <p style="color: azure;">{{ journal.content }}</p>
                </div>
            </div>
        </div>
        <div class="col d-flex justify-content-end">
            <div >
                <form method="POST" action="" >
                    {{ form.csrf_token }}
                    <div >
                        <h2 style="color: yellow; text-align: center;">Notes</h2>
                         {{ form.notes (class='form-control')}} <br>
                        {{form.submit (class='btn btn-warning')}}
                    </div>
                  
                </form>
                <br>
            {% if notes%}
                {% for note in notes%}
                    <div style="color: azure;">
                        <div class="comment w-75">
                            {{ note.notes }} <Br>
                         </div>
                    </div>
                    
                {% endfor %}
            {% else %}
                <p style="color: azure;">No notes yet</p>
            {% endif %}
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}